h1 {
  color: black;
  text-align: center;
}
$primary: #346eff;
$secondary: #346eff79;
$white: #fff;
$light: #4f78eb;
$black: #000;


body {
  font-family: 'Roboto', sans-serif;
}

span {
  display: block;
}
