@tailwind base;
@tailwind components;
@tailwind utilities;
@import './app';
@import './productCheckout.css';
@import './Bag.css';
@import './checkout.css';
@import './shippingForm.css';
@import './checkoutCompleted.css';
@import './flex';
@import './select';
@import './button';
@import './product-index';
@import './ui-search';
@import './filter-bar';


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  letter-spacing: .004em;
}