/* product-index */

.product-index {
  &__header {
    text-align: center;
  }

  &__layout {
    position: relative;
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;

    &__item-left {
      position: -webkit-sticky; /* for Safari */
      position: sticky;
      align-self: flex-start; /* <-- this is the fix */
      width: 100%;
      margin: 1rem;
      flex: 1;
    }

    &__item-right {
      width: 100%;
      margin: 1rem;
      flex: 3;
    }
  }
}
