
.delivery-form,
.pickup-form {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.delivery-form .title,
.pickup-form .title {
  font-size: 28px;
  font-weight: 500;
  margin: 17px 13px 0 0;
}

.general-info, 
.contact-info {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.delivery-form input {
  width: 100%;
  min-height: 50px;
  font-size: 17px;
  padding: 10px;
  margin: 5px 0;
  font-weight: 400;
  border-radius: 8px;
  border: 1px solid #d2d2d7;
}

.delivery-form .address-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.delivery-form .address-info input {
  width: 49%;
}

.delivery-form .submit-button,
.pickup-form .submit-button {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.delivery-form button.submit,
.pickup-form button.submit {
  background-color: #06c;
  color: #fff;
  width: 50%;
  min-height: 40px;
  border-radius: 10px;
  font-size: 19px;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pickup-locals {
  width: 40%;
}

.local-pickup-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
  border: 2px solid #d2d2d7;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
}

.local-pickup-card .local-name {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 5px;
}

.local-pickup-card .local-address {
  font-size: 15px;
  font-weight: 400;
}

.local-pickup-card.active {
  border: 2px solid #06c;
}

@media screen and (max-width: 767px) {
  .bag-checkout {
    width: 90%;
    margin-left: 5%;
  }
  .bag-checkout-shipping-method .title{
    margin: 40px 10px;
  }

  .shipping-method-selector {
    width: 80%;
    margin-left: 10%;
  }

  .delivery-form .general-info,
  .delivery-form .contact-info {
    width: 90%;
    margin-left: 5%;
  }

  .delivery-form .submit-button,
  .pickup-form .submit-button {
    width: 100%;
    margin-left: 0;
  }
  
  .pickup-locals {
    width: 90%;
  }
}